:root {
  --primary-color: #00072d;     /* Oxford Blue */
  --secondary-color: #cbf3d2;   /* Tea Green */
  --accent-color: #256eff;      /* Brandeis Blue */
  --highlight-color: #efa00b;   /* Gamboge */
  --tertiary-color: #d65108;    /* Syracuse Red-Orange */
}